body {
    background: #141414;
    background-size: cover;
    margin: 0%;
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

/*header*/
header {
    display: flex;
    height: 100px;
}

header>ul {
    font-size: 20px;
    display: flex;
}

header>ul>li {
    list-style-type: none;
}

header>ul>li>a {
    margin-left: 30px;
    padding: 8px 50px 8px 8px;
    text-decoration: none;
    font-size: 33px;
    color: #757575;
    display: block;
}

#logo {
    width: 300px;
}




/* Burger menu */
.burger {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: black;
    padding-top: 60px;
    transition: left 0.5s ease;
}

/* Lien dans le burger */
.burger a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.burger a:hover {
    color: #570ad3;
}

.burger ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/*Passe de  -250 à 0 pour afficher*/
.burger.active {
    left: 0;
}

/* Ferme burger */
.burger .ferme {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

/* Logo burger */
.logoBurger span {
    display: block;
    width: 45px;
    height: 7px;
    background-color: rgb(255, 255, 255);
    margin: 6px;
}

#ouvreB {
    margin-top: 28px;
    margin-left: 20px;
}

/* Bouton de déconnecion*/
.boutonDeconnexion {
    background-color: black;
    color: #818181;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    border: none;
    cursor: pointer;
}

.boutonDeconnexion:hover {
    color: #570ad3;
}




/* Style du bouton texte au survol */
.a:hover {
    color: #570ad3;
}

.mail {
    color: white;
    font-size: 25px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.lesimages {
    display: flex;
    margin-top: 100px;
}
.cadre{
    border: 10px solid;
    border-style: double;
    border-radius: 30px;
    border-color: #570ad3;
    width: 700px;
    margin-left: 30px;
    display: inline-flex;
}

.titre {
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: x-large;

}

.detail {
    color: white;
    display: none;
    text-align: center;
    padding: 10px;
    margin-left: 100px;
}

.image {
    width: 238px;
    height: 333px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bouton {
    width: 38px;
    height: 33px;
    border-radius: 10px;
    cursor: pointer;
}




/* Menu deroulant pour le genre */
.dropdown-check-list {
    display: inline-block;
    position: relative;
}

.dropdown-check-list button {
    background-color: #b20f0f;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.dropdown-check-list ul.items {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px;
    display: none;
    margin: 0;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    height: 250px;
    width: 200px;
}

.dropdown-check-list ul.items li {
    list-style: none;
    color: white;
    padding: 8px;
    cursor: pointer;
}

.dropdown-check-list ul.items li:hover {
    background-color: #555;
}

.dropdown-check-list.visible .items {
    display: block;
}